body {
    background-image: url("../img/blue.jpg");
    background-color: #cccccc;
    font-family: 'Roboto', sans-serif;
}

h1 {
    margin-left: 42%;
    top: 7%;
    color: #ffffff;
    position: absolute;
    font-size: 50px;
}

h2 {
    text-align: center;
    color: rgb(27, 123, 168);
    margin-top: 10%;
    font-size: 28px;
}

img {
    width: 100%;
    margin-bottom: -12%;
    margin-right: -15%;
    margin-left: -5%;
    margin-top: -3%;
}

input {
    margin-left: 10%;
    margin-top: 7%;
    height: 40px;
    width: 80%;
    border-radius: 10px;
    border: 1.5px solid #c7c5c5;
    padding-left: 2%;
}

input:hover {
    border: 1px solid rgb(0, 145, 212);
}

button {
    margin-left: 10%;
    margin-top: 10%;
    color: #ffffff;
    font-weight: 600;
    width: 83%;
    background-color: rgb(33, 184, 253);
    padding: 10px 25px 10px 25px;
    border-radius: 10px;
    border: solid rgb(33, 184, 253);
    cursor: pointer;
}

.button:hover {
    background-color: rgb(0, 145, 212);
    border: solid rgb(0, 145, 212);
}

a {
    color: rgb(27, 123, 168);
    font-weight: 600;
}

a:hover {
    color: rgb(0, 145, 212);
}

.main-container {
    display: flex;
    flex-direction: row;
}

.container {
    width: 85%;
}

.content {
    width: 55%;
    margin-top: 3%;
    margin-left: 5%;
    padding-left: 2%;
    padding-top: 2%;
}

.img-div {
    width: 80%;
    background-color: rgb(147, 233, 255);
    margin-left: 8%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.white-background {
    background-color: #ffffff;
    border-radius: 10px;
    width: 100%;
    margin-top: 12%;
    margin-left: 18%;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.18);
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.18);
    display: flex;
    flex-direction: row;
    width: 80%;
}

@media only screen and (min-width: 901px) and (max-width: 1200px) {
    h1 {
        margin-left: 37%;
        margin-top: 1%;
        font-size: 46px;
    }
    h2 {
        margin-top: 5%;
    }
    .img-div {
        display: none;
    }
    .content {
        margin-left: 14%;
        width: 65%;
        margin-bottom: 10%;
    }
    .white-background {
        margin-bottom: 5%;
    }
}

@media only screen and (min-width: 701px) and (max-width: 900px) {
    h1 {
        margin-left: 35%;
        margin-top: 0%;
        font-size: 43px;
    }
    h2 {
        margin-top: 5%;
        margin-bottom: 0;
        font-size: 24px;
    }
    .img-div {
        display: none;
    }
    .content {
        margin-left: 14%;
        width: 65%;
        margin-bottom: 10%;
    }
    .white-background {
        margin-bottom: 5%;
        margin-top: 15%;
    }
}

@media only screen and (min-width: 481px) and (max-width: 700px) {
    h1 {
        margin-left: 32%;
        margin-top: 0%;
        font-size: 38px;
    }
    h2 {
        margin-top: 5%;
        margin-bottom: 0;
        font-size: 22px;
    }
    .img-div {
        display: none;
    }
    .content {
        margin-left: 14%;
        width: 65%;
        margin-bottom: 10%;
    }
    .white-background {
        margin-bottom: 5%;
        margin-top: 18%;
        margin-left: 13%;
    }
    .container {
        width: 95%;
    }
}

@media only screen and (max-width: 480px) {
    h1 {
        margin-left: 27%;
        margin-top: 0%;
        font-size: 35px;
    }
    h2 {
        margin-top: 5%;
        margin-bottom: 0;
        font-size: 22px;
    }
    .img-div {
        display: none;
    }
    .container {
        width: 100%;
    }
    .content {
        margin-left: 14%;
        width: 65%;
        margin-bottom: 10%;
    }
    .white-background {
        margin-bottom: 5%;
        margin-top: 18%;
        margin-left: 10%;
        min-width: 300px;
    }
}